.select-style {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}
body {
  background-color: white;
  color: black;
  font-size: 20px;
  font-family: "Lucida Grande", Verdana,Arial, Helvetica, sans-serif;
}
h1, th {
  font-family: Georgia, "Times New Roman",Times, serif;
}
h1 {
  font-size: 28px;
}
table {
  border-collapse: collapse;
  border-spacing: 10px;
}
th, td {
  padding: 20px;
  border: 2px #666 solid;
  text-align: center;
  width: 9%;
}
#free, .pickedBG {
  background-color: #f66;
}

.vertical-center {
  display: flex;
  align-items: center;
}

td:hover {
  cursor:pointer;
  background-color: #aaa;
}



