<h2 align="center">WEBingo</h2>

<div class="jumbotron">

  For players who want to play bingo's game with his friends , the project WEBingo is a webapp created with Spring and Angular.<br/>
  That allows them to create games and join to other games what are created from other users.<br/>
  Unlike existing tools, WEBingo is multiplatform and only requires a device with one browser.<br/>
  You can find the source code of the projects on the links below:
  <a href="https://github.com/UdL-EPS-SoftArch/webingo-gei-api" target="_blank">Spring Github Source Code</a>  and   <a href="https://github.com/UdL-EPS-SoftArch/webingo-gei" target="_blank">Angular Github Source Code</a>

</div>

<!--Footer-->
<footer class="modal-footer">
  <div class="container">
    <div class="text-center">
      <small>© 2019. An University of Lleida project by GEI Group members</small>
    </div>
  </div>
</footer>

