.nav-item{
  cursor:pointer;
}
.dropdown-item:hover{
  background: #007bff;
  color: white;
}

nav{
  color: #cccccc;
}

a {
  padding: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .8em;
}

ul.navbar-nav{
  text-transform: uppercase;
}
