<div class="row justify-content-between">
  <div class="col mb-3">
    <app-card-search (emitResults)="showSearchResults($event)" [cards]="beforeSearch"></app-card-search>
  </div>
</div>

<div class="card mb-1" *ngFor="let card of cards">
  <div class="card-block row m-1">
    <h4 class="card-title col-md-12 p-1"><a [routerLink]="['/cards', card.id]">{{card.id}}</a></h4>
    <div class="col-md-4 p-1">
      <h6 class="card-subtitle text-muted"><i class="fa fa-ghost fa-sm prefix grey-text"></i>Player</h6>
      <p class="card-text"><a [routerLink]="['/players', card.player != null ? card.player.id : '']">{{card.player != null ? card.player.id : ' '}}</a></p>
    </div>
    <div class="col-md-4 p-1">
      <h6 class="card-subtitle text-muted">Game</h6>
      <p class="card-text"><a [routerLink]="['/games', card.game != null ? card.game.id : '']">{{card.game != null ? card.game.id : ' '}}</a></p>
    </div>
    <div class="col-md-4 p-1">
      <button type="button" class="btn m-1 btn-primary pull-right" [routerLink]="['/cards', card.id]">Details</button>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalCards"
                (pageChange)="changePage()"></ngb-pagination>

<p i18n class="text-center">Showing {{cards.length}} out of { totalCards, plural,
  =1 {1 card.}
  other { {{totalCards}} cards} }</p>
