<h2>Create a new Card</h2>

<form id="card-form" (ngSubmit)="onSubmit()" #cardForm="ngForm">
  <fieldset>

    <label class="control-label">Player*</label>
    <div class="select-style" style="width:200px;">
      <select required>
        <option *ngFor="let player of players" value="{{player.id}}">{{player.id}}</option>
      </select>
      <div class="invalid-feedback">A player is required</div>
    </div>

    <label class="control-label">Game*</label>
    <div class="select-style" style="width:200px;" [class.was-validated]="game.dirty || game.touched">
      <select name="GameSelect" [(ngModel)]="card.game" #game="ngModel" required>
        <option *ngFor="let game of games" [ngValue]="game">{{game.id + ': ' + game.name}}</option>
      </select>
      <div class="invalid-feedback">A game is required</div>
    </div>

    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!cardForm.form.valid">Submit</button>
      <button id="listBtn" type="button" [routerLink]="['/cards']" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>
  </fieldset>
</form>
