<h2>Create a new Game</h2>
<form id="game-create" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- GameName input -->
    <div class="form-group" [class.was-validated]="name.dirty || name.touched">
      <label class="control-label" for="gameName">GameName*</label>
      <input id="gamename" name="gamename" type="text" class="form-control" required
             [(ngModel)]="game.name" #name="ngModel" maxlength="10">
      <div class="invalid-feedback">A Game Name is required</div>
    </div>

    <!-- PricePerCard input -->
    <div class="form-group" [class.was-validated]="price.dirty || price.touched">
      <label class="control-label" for="gamename">PricePerCard*</label>
      <input id="pricepercard" name="pricepercard" type="number" class="form-control" required
             [(ngModel)]="game.pricePerCard" #price="ngModel">
      <div class="invalid-feedback">A pricePerCard is required</div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
      <button id="listBtn" type="button" [routerLink]="['/games']" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>

  </fieldset>
</form>
