<div class="card mb-1">
  <div class="card-block row m-1">
    <app-card-panel [card]="card"></app-card-panel>

    <div class="col mb-3 vertical-center">
      <div class="col-md-4">
        <h6 class="card-subtitle text-muted">Card</h6>
        <p class="card-text">{{card.id}}</p>
      </div>
      <div class="col-md-4">
        <h6 class="card-subtitle text-muted">Player</h6>
        <p class="card-text"><a [routerLink]="['/players', card.player != null ? card.player.id : '']">{{card.player != null ? card.player.id : ' '}}</a></p>
      </div>
      <div class="col-md-4">
        <h6 class="card-subtitle text-muted">Game</h6>
        <p class="card-text"><a [routerLink]="['/games', card.game != null ? card.game.id : '']">{{card.game != null ? card.game.id : ' '}}</a></p>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <button id="listBtn" type="button" [routerLink]="['/cards']"
            class="btn m-1 btn-outline-primary">Back
    </button>

    <button id="deleteBtn" type="button" [swal]="deleteSwal"
            class="btn m-1 btn-outline-danger">Delete
    </button>

    <swal
      #deleteSwal
      title="Are you sure?"
      text="You won't be able to revert this!"
      type="warning"
      [customClass]="{confirmButton:'btn btn-success', cancelButton:'btn btn-danger'}"
      [showCancelButton]="true"
      [options]="{confirmButtonClass:'m-1',cancelButtonClass:'m-1'}"
      (confirm)="delete()">
    </swal>
  </div>
</div>
