<div class="row justify-content-between">
  <div class="col mb-3">
    <app-invitation-search (emitResults)="showSearchResults($event)" [invitation]="invitations"></app-invitation-search>
  </div>
  <div class="col mb-3">
    <button id="newInvitationBtn" class="btn btn-success pull-right" type="button"
            [routerLink]="['/invitations/new']">Create Invitation</button>
  </div>
</div>

<!--
<div class="card mb-1" *ngFor="let invitation of invitations">
  <div class="card-block row m-1">
    <h4 class="card-title col-md-12 p-1"><a [routerLink]="[invitations.uri]">{{invitations.}}</a></h4>
    <div class="col-md-4 p-1">
      <h6 class="card-subtitle text-muted"><i class="fa fa-ghost fa-sm prefix grey-text"></i>Username</h6>
      <p class="card-text">{{user.id}}</p>
    </div>
    <div class="col-md-4 p-3">
      <h6 class="card-subtitle text-muted">Role</h6>
      <p class="card-text">{{user.authorities[0]?.authority.split('_')[1]}}</p>
    </div>
    <div class="col-md-4 p-1">
      <button type="button" class="btn m-1 btn-outline-primary pull-right" [routerLink]="[user.uri]">Details</button>
    </div>
  </div>
</div>

<p i18n class="text-center">Showing {{users.length}} out of { totalUsers, plural,
  =1 {1 admin}
  other { {{totalUsers}} users} }</p>
-->
