<div class="card mb-1" *ngFor="let game of gamesList">
  <div class="card-block row m-1">
    <h4 class="card-header col-md-12 p-1">
      <a [routerLink]="[game.uri]">{{game.name}}</a></h4>
    <div class="col-3 p-1 mt-1">
      <h6 class="card-subtitle text-muted"><i class="fa fa-ghost fa-sm prefix grey-text"></i>Price:</h6>
      <p class="card-text">{{game.pricePerCard}}</p>
    </div>
    <div class="col-3 p-1 mt-1">
      <h6 class="card-subtitle text-muted">Jackpot:</h6>
      <p class="card-text">{{game.jackpot}}</p>
    </div>
    <div class="col-3 p-1 mt-1">
      <h6 class="card-subtitle text-muted">Created at:</h6>
      <p class="card-text">{{game.createdAt}}</p>
    </div>
    <div class="col-3 p-1">
      <button type="button" class="btn m-1 btn-success pull-right" (click)="showLoadingMessage(game.uri)"><i class="fa fa-play" style="margin-right: 5px"></i><a>PLAY</a></button>
    </div>
  </div>
</div>
